<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bookBlock/css/bookblock.css" />
    <script src="~/lib/bookBlock/js/modernizr.custom.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="~/lib/slimSelect/js/slimselect.min.js"></script>
    <link rel="stylesheet" href="~/lib/slimSelect/css/slimselect.css" />
    <link href="~/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/customAnimation.css" />

    <title>@ViewData["Title"]TriviaGame - Portfolio Project</title>
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <footer id="siteFooter">
            <div class="site-section">
                <div class="container">
                    <div id="layerEffect" class="text-center align-items-center">
                        <a href="https://github.com/Anum1212" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="www.linkedin.com/in/anamamer-" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="mailto:anamamer0@gmail.com">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bookBlock/js/jquerypp.custom.js"></script>
    <script src="~/lib/bookBlock/js/jquery.bookblock.min.js"></script>
    <script src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
